#root {
}

.wrapButtons{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2vh;
    margin-left: 2vw;
}

.wrapTelaInicial{
   
}

.buttonTelaInicial a{
    text-decoration: none;
    color: black;
    font-weight: bold;
   
}

.buttonTelaInicial{
    height: 8vh;
    width: 10vw;
    border-radius: 20px !important;

}

.buttonTelaInicial:hover{
    background-color: rgb(184, 177, 177);
    transition: linear 0.5s;
}

.wrapImg{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-top: -57.5vh;
}

.wrapBiblio{
    border-radius: 20px !important;
}

.wraph1{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 18vh;
}