*{
    padding: 0;
    margin: 0;
    font-family: "Tilt Neon", sans-serif;
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    background-image: url(./assets/biblio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
}

a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
