*{

}

.wrapMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
}

.navLinks{
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: blue;
}

.navLinks ul {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    gap: 2vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4vw;
}

.navLinks ul li a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}